* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 9vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
}

main {
  padding: 9vh 8rem;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  margin-left: 20px;
  padding: 10px 0;
  align-items: center;
}

.left img {
  width: 40%;
  height: 70%;
}

.menu ul {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
  font-size: 0.8rem;
  margin-right: 15px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 400px;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(240, 239, 245);
  border-radius: 5%;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 15px;
}

.search input {
  background-color: rgb(240, 239, 245);
}

.search svg {
  width: 20px;
  height: 20px;
  stroke: #999999;
  fill: #999999;
  margin-right: 10px;
}

.right a {
  padding: 3px 7px;
  background-color: rgb(70, 83, 160);
  color: #ffffff;
  border-radius: 5%;
  text-decoration: none;
  font-size: 0.8rem;
}


#kento .container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #999999;
}

#kento .container .blue {
  display: flex;
}

#kento .container .blue .holder {
  width: 18rem;
}

#kento .container .blue img {
  width: 100%;
  object-fit: cover;
}

#kento .container .red {
  display: flex;
}

#kento .container .red a {
  padding: 2rem 1rem;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

#kento .container .red a:hover {
  border-bottom: 2px solid blue;
}

#kento .container .pink {
  display: flex;
}

#kento .container .pink .green {
  width: 12rem;
  height: 2.3rem;
  background-color: #eeeeee;
  position: relative;
  margin-right: 2rem;
}

#kento .container .pink .green svg {
  height: 100%;
  fill: #999999;
  stroke: #999999;
}

#kento .container .pink .green input {
  width: 90%;
  height: 100%;
  position: absolute;
  background-color: #eeeeee;
  border: none;
  outline: none;
  padding: 0;
  padding-right: 1.8rem;
}

#kento .container .pink .green .button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
}

/* #kento > .container > .pink > button {
  padding: 1rem;
} */

#kento .container .pink > button {
  padding: 0.4rem 1rem;
  color: #ffffff;
  background-color: blue;
}

main .lorem:nth-child(1) {
  width: 4rem;
  height: 12rem;
  padding-bottom: 4rem;
  overflow: scroll;
}

